@use '../abstracts/mixins/mixins' as *;

.align-left {

	/*rtl:ignore*/
	float: left;

	/*rtl:ignore*/
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}

.align-right {

	/*rtl:ignore*/
	float: right;

	/*rtl:ignore*/
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}

.align-center {
	clear: both;

	@include center-block;

	margin-bottom: 1.5em;
}
